<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="ge9xSb6xtVIYjvont82CFLwQTZxoOwgr8tOIlEizZGg" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title> Document </title>
    {% endif %}
    <link rel="icon" type="image/x-icon" href="https://apinewpython.herokuapp.com/web/favicon.png">


    <!-- google adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1529360464765425"
    crossorigin="anonymous"></script>
    <!-- google analytics -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CT8EPP21VF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-CT8EPP21VF');
    </script>
    <!-- add head custom -->

    {% block header_py %}

    {% endblock header_py %}

</head>

<body>

    {% block content %}

    {% endblock content %}

</body>

</html>