<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lãi Ngân Hàng </title>

    <style>

    </style>

</head>

<body>
    <form action="/tinh_lai" method="post">
        <label for=""> Tiền gửi </label>
        <input type="number" name="tien_gui" > <br>
        <label for=""> Lãi suất </label>
        <input type="number" name="lai_suat" step="any" > <br>
        <label for=""> Số ngày gửi </label>
        <input type="number" name="so_ngay_gui"> <br>

        <button type="submit"> Tính Lãi </button>
    </form>
</body>

</html>